/* Web Fonts */

@font-face{
    font-family: 'League Spartan';
    src: url('../fonts/leaguespartan-bold.eot');
    src: url('../fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguespartan-bold.woff2') format('woff2'),
         url('../fonts/leaguespartan-bold.woff') format('woff'),
         url('../fonts/leaguespartan-bold.ttf') format('truetype'),
         url('../fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-style: 300;

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
   font-family: 'League Spartan';
   -webkit-font-smoothing: antialiased;
   font-weight: 100;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #280343;
  color: #fff;
}

.footer p.text-muted{
  color: #fff;
  font-size: 12px;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* Index and Navbar  Styling*/
body > .container {
  padding: 60px 15px 0;
  /*font-family: font-family: 'Roboto', sans-serif;*/
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.h4-banner{
  font-weight: 300;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 16px;
}
.navbar-nav > li > .navbar-btn{
  border-radius: 180px;
  margin-right: 1em;
}
.navbar-nav > li > .navbar-btn .btn-custom, .btn-custom{
    border-radius: 180px;
  background-color: #fff;
  border-color: #2C0550;
  color: #320453;
}
.navbar-nav > li > .navbar-btn .btn-custom:hover, .navbar-nav > li > .navbar-btn .btn-custom:focus, .navbar-nav > li > .navbar-btn .btn-custom:active{
  color: #E84B7D;
  border-color: #E84B7D;
}
.btn-success{
    border-radius: 180px;
}
.navbar-default .navbar-nav > li > a{
  font-size: 16px;
}
.navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus{
  outline: none;
}
.navbar-default .navbar-toggle{
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus{
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar{
  border-color: #2C034F;
}
.index-body{
  background-color:RGBA(255, 255, 255, .9);background-image:url(../img/noise.png);width:100%; height:30px;
}
.banner{
  background-color:RGBA(40, 3, 67, 1); height:380px;
  padding-top:8em;color:#fff;
}
.banner .form-control{
  background-color: #947EA4;
  height: 39px;
  border-radius: 1px;
}
.form-banner{
  width:100%;
}
.banner .btn{
  height: 39px;
}
.h5-banner{
  margin-top: 2em;
}
.icon-nav{
  list-style: none;
  padding-left: 0;
  color: #2C034F;
}
.icon-nav li{
  color: #2C034F;
}
h4.icon-header{
  color: #2C034F;
  font-weight: 300;
  margin-top: 0;
  font-size: 16px;
}
.icon-hr{
  color: #2C034F;
  width: 50%;
  border-color: #2C034F;
}

.banner .form-control{
  display:inline-block; width:58%; margin-left:5%;vertical-align: top;
}
.banner .btn-danger{
  display:inline-block; width:30%; margin-right:5%;vertical-align: top;
}
.footer-text{
  color:#fff; padding-left:1em;
}
a.footer-text:hover{
  color: #f5f5f5;
}



/* About Us and Who we are Template*/
.content-header{
  color:#2C034F;
}
.contents-p{
  font-size:15px; color:#2C034F;
}
.about-top-content{
  margin-top: -330px;
}
.product-top-content{
  margin-top:-330px;
}
.border-traingle{
  width: 100%;
  height: 0;
  border-top: 450px solid #2C034F;
  border-left: 100vw solid transparent;
}
.inner-hr{
  width:10%;margin-left:0;
}
.content-bg{
  background-color:rgba(245,245,245, .9);background-image:url(../img/bg.png);width:100%; height:20px; background-position:top left; background-repeat:;
}
.content-flush{
  margin-bottom: 2em;
}


/* Sign In */
.form-sign-in .form-control{
  height: 44px;
  margin-top: 1em;
  margin-bottom: 2em;
}
.form-sign-in{
  padding-left: 2em;
  padding-right: 2em;
}
.panel-sign-in{
  padding-bottom: 2em;
  border-radius: 20px;
  box-shadow: 1px 2px 3px rgba(0,0,0,.3);
}
form.form-sign-in div.checkbox{
  padding-top: .5em;
  padding-bottom: 1em;
  color: #E84B7D;
}

/* Sign Up */
.sign-up-header{
  color: #E84B7D;
  font-weight: 300;
}
h5.small-header{
  font-weight: 300;
}
form.sign-up-form div.radio{
  margin-bottom: 1em;
}
form.sign-up-form .form-control{
  height: 44px;
}
.form-control{
border-radius: 0;
}
.input-group-addon{
  background-color: #fff;
  color: #320453;
}
.panel-sign-in a{color: #320453;text-decoration: underline;margin-top: 2em;}


/* Contact Us Lightbox */
.calendly-inline-widget{
  display: ;
}

@media (max-width: 1206px){
  body.content-flush{
    padding-bottom: 60em;
  }
}
/* Mobile Queries */
@media (max-width: 992px){
  .navbar-brand img{
    max-width: 180px;
  }
    .navbar-header {
        float: none;
    }
    .navbar-nav > li > a{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-nav > li > .navbar-btn{
      margin-top: 0;
      margin-left: 1em;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
     .collapse.in{
      display:block !important;
  }
  .border-traingle{
    border-top: 250px solid #2C034F;
  }
  .about-top-content{
    margin-top: -100px;
  }
  .product-top-content{
    margin-top:-100px;
  }
  .index-footer{
 position: relative;
}
}

@media (max-width: 768px){
  .navbar-nav > li > .btn{
  margin-right: 0;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}
  .banner{
    padding-top: 6em;
  }
  .h1-banner{
    font-size: 30px;
  }
}

@media (max-width: 640px){
  .calendly-badge-widget{
    display: none;
}
}
@media (max-width: 480px){
  .banner .form-control{
  display:block; width:90%; margin-left:5%;
  margin-bottom: 1em;
}
.banner .btn-danger{
  display:block; width:90%; margin-left:5%;
}
div.banner{
  padding-top: 7.5em;
  height: 430px;
}
.h1-banner{
    font-size: 24px;
  }
body.content-flush{
  padding-bottom:65em;
}
.footer{
  height: 80px;
}
}

/* Animation */
 .rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 


  .rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes rotateIn {
  0% {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate3d(0, 0, 1, -200deg);
  transform: rotate3d(0, 0, 1, -200deg);
  opacity: 0;
  }
  100% {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  }
  }